*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.list{
    width: 100%;
    gap: 20px;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
  /* flex-wrap: wrap; */
    margin-top: 20px;
   

}
.list li a{
text-decoration: none;

}
.list li{
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 30px;
    padding-top: 5px;
}
.main{
    
    background-color: red;
    color: antiquewhite;
    border-radius: 10px;
 
    text-align: center;
    
} 
@media screen and (max-width:600px) {
    .list li{
        display: none;
    }
}

